body, ul, li, p, a, h1, h2, h3, figure { padding: 0; margin: 0; list-style: none; text-decoration: none;}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #fff;
	background-color: #333;
}
.heading-1 {
	font-size: 3em;
	line-height: 1.3;
}
.heading-2 {
	font-size: 2em;
	color: #666;
	line-height: 1;
}
.heading-3 {
	font-size: 1.5em;
	color: rgba(228, 182, 40, 1);
}
p {
	font-size: 16px;
	color: #666;
	line-height: 2;
	padding: 0 0 20px 0;
}
a {
	color: #fff;
}

/* ==========================================================================
   Mobile styles / First view
   ========================================================================== */

/* Layout
============================= */
section {
	min-height: 500px;
}
.section-header {
	text-align: center;
	padding: 30px 0 20px 0;
}
.article {
	padding: 20px;
}
.icon {
	font-size: 2em;
	display: block;
    font-size: 1.5em;
    margin: 10px 0;
}

/* Header
============================= */
#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	line-height: 50px;
	background-color: rgba(228, 182, 40, 1);
	transition: all .2s ease-in-out;
	z-index: 2;
	.burger-link {
		font-size: 32px;
		margin: 0 10px;
	}
	#nav {
		position: fixed;
		top: 0;
		left: -100%;
		width: 80%;
		height: 100%;
		background: #333;
		padding: 20px 0;
		box-sizing: border-box;
		&.open {
			left: 0;
			transition: all .2s ease-in-out;
		}
		li {
			a {
				display: block;
				padding: 0 20px;
				outline: none;
				&.active {
					background: #BD961D;
				}
			}
		}
	}
}
.scrolled #header {
	height: 50px;
	line-height: 50px;
}

/* Home
============================= */
#home {
	text-align: center;
	background-image: url("../img/bg-home.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #000;
	background-position: center top;
	.heading-1 {
		display: inline-block;
		.site-name {
			font-size: 1.3em;
		}
		.site-title {
			font-weight: 100;
		}
	}
}

/* About
============================= */
#about {
	background-color: #f1f1f1;
}

/* Skills
============================= */
#skills {

	background-color: #fff;

	// Languages
	.skill {
		position: relative;
		height: 30px;
		line-height: 30px;
		background: #f1f1f1;
		margin: 20px auto;
	}
	.skill-label {
		position: absolute;
		margin: 0 10px;
	}
	.skill-bar {
		width: 100%;
		height: 100%;
	}
	.html5 {
		.loaded-bar {
			width: 90%;
		}
		.skill-bar {
			background: #f1672c;
		}
	}
	.css3 {
		.loaded-bar {
			width: 80%;
		}
		.skill-bar {
			background: #30a9dc;
		}
	}
	.js {
		.loaded-bar {
			width: 70%;
		}
		.skill-bar {
			background: #f1bf26;
		}
	}
	.loaded-bar {
		height: 100%;
		background: rgba(0,0,0,0.5);
	}

	// Frameworks
	.frameworks {
		display: table;
		li {
			width: 33.333%;
			float: left;
			text-align: center;
			.framework {
				display: inline-block;
				width: 100px;
				height: 100px;
				line-height: 100px;
				text-align: center;
				background: #9A9483;
				margin: 10px;
				-webkit-border-radius: 50px;
				border-radius: 50px;
				transition: all .2s ease-in-out;
				&:hover {
					background: #e4b628;
				}
			}
		}
		
	}
}

/* Portfolio
============================= */
#portfolio {
	background-color: #f1f1f1;
	.galery {
		display: table;	
		width: 100%;
		margin: 0 auto;
		li {
			float: left;
			width: 50%;
			height: 250px;
			padding: 20px;
			box-sizing: border-box;
			.item {
				width: 100%;
				height: 100%;
				border: 1px solid #ccc;
			}
		}
	}
}

/* Contact
============================= */
#contact {

}

/* ==========================================================================
   Tablet styles
   ========================================================================== */

@media only screen and (min-width: 768px) {	

	/* Skills
	============================= */
	#skills {

		// Frameworks
		.frameworks {
			li {
				width: 25%;
			}
			
		}
	}

}

/* ==========================================================================
   Desktop style
   ========================================================================== */
@media only screen and (min-width: 992px) {

	.article {
		width: 992px;
		margin: 0 auto;
	}

	/* Header
 	============================= */
	#header {
		height: 70px;
		line-height: 70px;
		.burger-link {
			display: none;
		}
		#nav {
			position: relative;
			top: 0;
			left: auto;
			display: block;
			width: 1200px;
			background: none;
			margin: 0 auto;
			padding: 0;
		}
		#nav ul {
			display: table;
		}
		#nav li {
			float: left;
			margin: 0 10px;
		}
		#nav a {
			display: block;
			font-size: 1.2em;
			color: #fff;
			padding: 0 15px;
			font-weight: 700;
			transition-property: background, color;
			transition-duration: .2s;
			&:hover {
				background-color: rgba(255, 255, 255, 0.5);
				color: #333;
			}
			a.actuve {
				box-shadow: inset 0 -4px 0px 0px #fff;
			}
		}
	}

	/* Home
 	============================= */

	/* About
	============================= */

	/* Skills
	============================= */
	#skills {
		
		// Frameworks
		.frameworks {
			li {
				width: auto;
			}
			
		}
	}

	/* Portfolio
	============================= */

	/* Contact
	============================= */
	
	
	
}

/* ==========================================================================
   Large desktop styles
   ========================================================================== */

@media only screen and (min-width: 1200px) {	
	.article {
		width: 1200px;
		margin: 0 auto;
	}

	/* Header
 	============================= */

	/* Home
 	============================= */

	/* About
	 ============================= */

	 /* Skills
	 ============================= */

	 /* Portfolio
	 ============================= */

	 /* Contact
	 ============================= */
}